<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>hub.consulo.io</comment>
    <entry key="backend.host.key">https://hub.consulo.io</entry>
    <entry key="backend.host.oauth.key">1</entry>
    <entry key="backend.host.password">1</entry>
    <entry key="backend.secure.key">1</entry>
</properties>
