html {
}


.badge-unknown
{
    background: tomato;
    color: var(--vaadin-text-color)
}

.badge-fixed
{
    background: limegreen;
    color: var(--vaadin-text-color)
}

.badge-duplicate
{
    background: gray;
    color: var(--vaadin-text-color)
}

.badge-obsolete
{
    background: lightgray;
    color: var(--vaadin-text-color)
}

.plugins-card-holder
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.plugins-header-header-data {
    width: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    white-space: nowrap;
}

.plugins-header-header-data > div {
    border-bottom: 2px solid var(--vaadin-border-color-secondary);
    width: 100%;
}

.plugin-icon-card {
    height: 100%;
    align-content: center;
    text-align: center;
}

.plugin-icon-card img {
    width: 5em;
    height: 5em;
}

.plugin-card-description {
    line-break: anywhere;
    overflow: hidden;
    max-height: 4em;
}