@import "variables";
@import "../valo/valo";

.tests-valo-metro {
   @include valo;
}

div.sidemenu-ui {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.backgroundGray {
	background: #bcbcbc;
}

.errorViewLineLayout
{
	padding-left: 5px;
	border-top: lightgray solid 1px;
	border-left: lightskyblue solid 4px;
	border-bottom: lightgray solid 1px;
	border-right: lightgray solid 1px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.errorViewLineLayout2
{
	padding-left: 5px;
	border-top: lightgray solid 1px;
	border-left: lightblue solid 4px;
	border-bottom: lightgray solid 1px;
	border-right: lightgray solid 1px;
	margin-top: 2px;
	margin-bottom: 2px;
}