@import "variables";
@import "../valo/valo";

.tests-valo-metro {
   @include valo;
}

div.sidemenu-ui {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.v-menubar-user-menu
{
	margin: 0px !important;
}

.v-menubar-menuitem
{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.v-menubar-submenu-user-menu .v-menubar-menuitem
{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.menu-label
{
	padding-left: 5px;
	padding-right: 5px;
}

.headerMargin
{
	padding: 5px;
}

.bodyMargin
{
	padding: 5px;
}

.errorViewLineLayout
{
	padding-left: 5px;
	border-top: lightgray solid 1px;
	border-bottom: lightgray solid 1px;
	border-right: lightgray solid 1px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.errorViewLineLayoutBox
{
	padding-left: 5px;
	padding-right: 5px;
	border-top: lightgray solid 1px;
	border-bottom: lightgray solid 1px;
	border-right: lightgray solid 1px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.errorViewLineLayoutFixed
{
	border-left: limegreen solid 4px;
}

.errorViewLineLayoutUnknown
{
	border-left: tomato solid 4px;
}

.errorViewLineLayoutDuplicate
{
	border-left: gray solid 4px;
}

.errorViewLineLayoutObsolete
{
	border-left: lightgray solid 4px;
}

//
.errorViewButtonFixed
{
	border-left: limegreen solid 2px !important;
}

.errorViewButtonUnknown
{
	border-left: tomato solid 2px !important;
}

.errorViewButtonDuplicate
{
	border-left: gray solid 2px !important;
}

.errorViewButtonObsolete
{
	border-left: lightgray solid 2px !important;
}

.nav-menu-badge
{
	position: relative;
	padding: 0 !important;
}

.line-separator
{
	background: $v-focus-color;
}

.bottomPanel
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
	border-top: #f1f1f1 solid 1px !important;
}