%FILENAME%
${filename}

%NAME%
${name}

%BASE%
${name}

%VERSION%
${version}-1

%DESC%
${desc}

%CSIZE%
${size}

%ISIZE%
${size}

#if($md5)
%MD5SUM%
${md5}

#end
#if($sha256)
%SHA256SUM%
${sha256}

#end
#if($url)
%URL%
${url}

#end
%ARCH%
${arch}

%BUILDDATE%
${buildDate}

%PACKAGER%
Consulo <noreply@consulo.io>

#if($provides)
%PROVIDES%
${provides}

#end
#if(!$deps.isEmpty())
%DEPENDS%
#foreach($dep in $deps)
${dep}
#end
#end
