@import url('./main-layout.css');
@import url('./scrollbar.css');
@import url('@fontsource/inter/index.css');

html {

}

.badge-unknown
{
    background: tomato;
    color: var(--lumo-base-color)
}

.badge-fixed
{
    background: limegreen;
    color: var(--lumo-base-color)
}

.badge-duplicate
{
    background: gray;
    color: var(--lumo-base-color)
}

.badge-obsolete
{
    background: lightgray;
    color: var(--lumo-base-color)
}