<!DOCTYPE web-app PUBLIC
		"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
		"http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Consulo War</display-name>

	<servlet>
		<servlet-name>plugins-list</servlet-name>
		<servlet-class>org.mustbe.consulo.war.servlet.PluginsListServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>updates-list</servlet-name>
		<servlet-class>org.mustbe.consulo.war.servlet.UpdateListServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>plugins-download</servlet-name>
		<servlet-class>org.mustbe.consulo.war.servlet.PluginsDownloadServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>statistics-post</servlet-name>
		<servlet-class>org.mustbe.consulo.war.servlet.StatisticsPostServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>statistics-show</servlet-name>
		<servlet-class>org.mustbe.consulo.war.servlet.StatisticsShowServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>plugins-list</servlet-name>
		<url-pattern>/plugins/list</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>updates-list</servlet-name>
		<url-pattern>/updates/list</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>plugins-download</servlet-name>
		<url-pattern>/plugins/download</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>statistics-post</servlet-name>
		<url-pattern>/statistics/post</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>statistics-show</servlet-name>
		<url-pattern>/statistics/show</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>admin-make-release</servlet-name>
		<url-pattern>/admin/release/make</url-pattern>
	</servlet-mapping>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
